In [188]:
from main import *

### Membuat ID transaksi customer

In [189]:
trnsct_123 = Transaction()

### Menambahkan barang belanjaan menggunakan method add_item dari module main.py

In [190]:
trnsct_123.add_item("Ayam", 3, 20_000)

Item yang dibeli adalah Ayam sebanyak 3 dengan harga Rp 20000

  Nama Item  Qty  Harga per item  Total harga item
1      Ayam    3           20000             60000

In [191]:
trnsct_123.add_item("Bakso", 5, 15_000)

Item yang dibeli adalah Bakso sebanyak 5 dengan harga Rp 15000

  Nama Item  Qty  Harga per item  Total harga item
1      Ayam    3           20000             60000
2     Bakso    5           15000             75000

In [192]:
trnsct_123.add_item("Sate", 3, 25_000)

Item yang dibeli adalah Sate sebanyak 3 dengan harga Rp 25000

  Nama Item  Qty  Harga per item  Total harga item
1      Ayam    3           20000             60000
2     Bakso    5           15000             75000
3      Sate    3           25000             75000

### Contoh kasus jika ingin update nama barang, jumlah atau harga

In [193]:
trnsct_123.update_item_name("Ayam", "Mie Ayam")

  Nama Item  Qty  Harga per item  Total harga item
1     Bakso    5           15000             75000
2      Sate    3           25000             75000
3  Mie Ayam    3           20000             60000

In [194]:
trnsct_123.update_item_qty("Bakso", 10)

  Nama Item  Qty  Harga per item  Total harga item
1     Bakso   10           15000            150000
2      Sate    3           25000             75000
3  Mie Ayam    3           20000             60000

In [195]:
trnsct_123.update_item_price("Sate", 30_000)

  Nama Item  Qty  Harga per item  Total harga item
1     Bakso   10           15000            150000
2      Sate    3           30000             90000
3  Mie Ayam    3           20000             60000

### Delete

Salah satu item

In [196]:
trnsct_123.delete_item("Sate")

  Nama Item  Qty  Harga per item  Total harga item
1     Bakso   10           15000            150000
2  Mie Ayam    3           20000             60000

Hapus semua transaksi

In [197]:
trnsct_123.reset_transaction()

Semua item berhasil didelete!

### Cek order

In [198]:
trnsct_123 = Transaction()

In [199]:
trnsct_123.add_item("Ayam", 3, 20_000)
trnsct_123.add_item("Bakso", 5, 15_000)
trnsct_123.add_item("Sate", 3, 25_000)

Item yang dibeli adalah Ayam sebanyak 3 dengan harga Rp 20000

  Nama Item  Qty  Harga per item  Total harga item
1      Ayam    3           20000             60000
Item yang dibeli adalah Bakso sebanyak 5 dengan harga Rp 15000

  Nama Item  Qty  Harga per item  Total harga item
1      Ayam    3           20000             60000
2     Bakso    5           15000             75000
Item yang dibeli adalah Sate sebanyak 3 dengan harga Rp 25000

  Nama Item  Qty  Harga per item  Total harga item
1      Ayam    3           20000             60000
2     Bakso    5           15000             75000
3      Sate    3           25000             75000

In [200]:
trnsct_123.check_order()

  Nama Item  Qty  Harga per item  Total harga item
1      Ayam    3           20000             60000
2     Bakso    5           15000             75000
3      Sate    3           25000             75000

### Total Harga

In [201]:
trnsct_123.total_price_print()

  Nama Item  Qty  Harga per item  Total harga item
1      Ayam    3           20000             60000
2     Bakso    5           15000             75000
3      Sate    3           25000             75000

HARGA: Rp 210000
DISKON: 5%
TOTAL: Rp 199500.0